<!--#######################################-->
<!-- Copyright (c) 2024  Dong Zhaorui.     -->
<!-- All rights reserved.                  -->
<!-- Author: Dong Zhaorui 847235539@qq.com -->
<!-- Date  : 2024-12-23                    -->
<!--#######################################-->

<launch>

    # circle target generator
    <node name="circle_gen" pkg="hex_toolkit_general_chasssis" type="circle_gen.py" output="screen" >
        # param
        <rosparam file="$(find hex_toolkit_general_chasssis)/config/ros1/circle_gen.yaml"/>
        # publish
        <remap from="/target_pose" to="/target_pose" />
    </node>

</launch>
