<!--#######################################-->
<!-- Copyright (c) 2024  Dong Zhaorui.     -->
<!-- All rights reserved.                  -->
<!-- Author: Dong Zhaorui 847235539@qq.com -->
<!-- Date  : 2024-12-23                    -->
<!--#######################################-->

<launch>

    # joy ctrl
    <node name="joy_ctrl" pkg="hex_toolkit_general_chasssis" type="joy_ctrl.py" output="screen" >
        # param
        <rosparam file="$(find hex_toolkit_general_chasssis)/config/ros1/joy_ctrl.yaml"/>
        # publish
        <remap from="/unsafe_ctrl" to="/cmd_vel" />
        <remap from="/vel_ctrl" to="/unused" />
    </node>

</launch>
